@page "/Listingslist/{ListingId:int}"

@using BattleShipV3.Models
@using BattleShipV3.Shared
@using BattleShipV3.Shared.Data.Commands.Listing.Update
@using Microsoft.AspNetCore.SignalR.Client

<h3>@Listing?.Name</h3>

@inject NavigationManager Navigation
@inject ListingService listingService

@if(Listing is not null)
{
    <Row>
        <MudTd DataLabel="Players">@($"{GetLobbySize(Listing)}/2")</MudTd>
        <MudTd DataLabel=">=">@Listing.EloFrom</MudTd>
        <MudTd DataLabel="<">@Listing.EloTo</MudTd>
        <MudTd DataLabel="Name">@Listing.Name</MudTd>
        <MudTd DataLabel="Creator">@Listing.PlayerOne.Name</MudTd>
    </Row>

    <MudText>
        You are a @(HostOrGuestString())
    </MudText>

    @*TODO CHECK FOR LOBBY PLAYERS*@
    @if(GetOpponent() is null)
    {
        <MudText>
            You don't have an opponent
        </MudText>
    }
    else
    {
        <MudText>
            Your opponent is: @GetOpponent().Name
        </MudText>
    }



    <MudButton Color="Color.Secondary" Variant="Variant.Filled" @onclick="@(async () => await LeaveLobby())" Style="margin:5px">Leave</MudButton>

    @if(IsCreator())
    {
        <MudButton Color="Color.Secondary" Variant="Variant.Filled" Disabled="@(Listing.PlayerOne == null || Listing.PlayerTwo == null)" @onclick="StartGame" Style="margin:5px">Start</MudButton>
    }
}




@code {
    private Listing? Listing { get; set; }
    [Parameter] public int ListingId { get; set; }
    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        await Load();

        hubConnection = new HubConnectionBuilder()
                   .WithUrl(Navigation.ToAbsoluteUri("/lobbyhub"))
                   .WithAutomaticReconnect()
                   .Build();

        hubConnection.On<Listing, User>("JoinedListing", (lobby, user) =>
        {
            if(lobby.Id == ListingId)
            {
                if (Listing.PlayerOne is null)
                    Listing.PlayerOne = user;
                else
                    Listing.PlayerTwo = user;

                InvokeAsync(StateHasChanged);
            }
        });

        hubConnection.On<Listing, User>("LeftListing", (lobby, user) =>
        {
            if(lobby.Id == ListingId)
            {
                if (Listing.PlayerOne.Id == user.Id)
                    Listing.PlayerOne = Listing.PlayerTwo;
                Listing.PlayerTwo = null;

                InvokeAsync(StateHasChanged);
            }
        });

        await hubConnection.StartAsync();
    }


    private async Task Load()
    {
        if (ListingId != 0)
            Listing = await listingService.GetListingAsync(ListingId);
        else
            Navigation.NavigateTo("/");
    }

    private User GetOpponent()
    {
        if (Listing is null || Listing.PlayerOne is null || Global.CurrentUser is null)
            return null;
        return Global.CurrentUser.Id == Listing.PlayerOne.Id ? Listing.PlayerTwo : Listing.PlayerOne;
    }

    private string HostOrGuestString()
    {
        return IsCreator() ? "Host" : "Guest";
    }

    private bool IsCreator()
    {
        return Listing.PlayerOne.Id == Global.CurrentUser.Id;
    }

    private bool CanStartGame()
    {
        return Listing.PlayerOne != null && Listing.PlayerTwo != null;
    }

    private int GetLobbySize(Listing arg)
    {
        int ret = 0;
        if (arg.PlayerOne != null)
            ret++;
        if (arg.PlayerTwo != null)
            ret++;

        return ret;
    }

    private async Task LeaveLobby()
    {
        if (hubConnection is null)
            return;

        if (Listing.PlayerTwo is null)
        {
            await listingService.DeleteListingAsync(ListingId);
            await hubConnection.SendAsync("DeleteListing", Listing, Global.CurrentUser);
            Navigation.NavigateTo("/listingslist");
            return;
        }

        UpdateListingCommand cmd = new UpdateListingCommand(Global.CurrentUser, removePlayerTwo: true);

        await listingService.UpdateListingAsync(ListingId, cmd);

        await hubConnection.SendAsync("LeftListing", Listing, Global.CurrentUser);

        Navigation.NavigateTo("/listingslist");
    }

    private void StartGame()
    {
        //TODO
    }

}
