@page "/pointsshop"

@using BattleShipV3.Shared
@using BattleShipV3.Shared.Data
@using BattleShipV3.Data.Models
@using BattleShipV3.Client.Services
@using BattleShipV3.Shared.Data.Commands.UserShips.Create
@using MudBlazor
@using Models
@using Data

@inject NavigationManager Navigation
@inject UserShipsService userShipsService
@inject ShipService shipService

<PageTitle>Points shop</PageTitle>

@*<MudContainer>
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Welcome to the shop!</MudText>
    <MudText Typo="Typo.h5" Align="Align.Center">Here you can spend your hard earned points to improve your gameplay experience.</MudText>
    <MudText Class="pa-8 ma-8" Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Ships</MudText>
    <MudGrid Class="mt-8">
        <MudItem xs="12" sm="6" md="6">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Basic Healer</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">25 Points per square</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Able to heal part/whole ship
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Limited to 2 uses per game
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Only 1 healer ship allowed in a game
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@(async () => await CreateUserShips(1))">Buy 4 square ship</MudButton>
                </MudCardActions>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@(async () => await CreateUserShips(2))">Buy 3 square ship</MudButton>
                </MudCardActions>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@(async () => await CreateUserShips(3))">Buy 2 square ship</MudButton>
                </MudCardActions>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@(async () => await CreateUserShips(4))">Buy 1 square ship</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="6">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">AOE Healer</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">40 Points per square</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Able to heal part/whole ship
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Limited to 2 uses per game
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Only 1 healer ship allowed in a game
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@(async () => await CreateUserShips(5))">Buy 4 square ship</MudButton>
                </MudCardActions>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@(async () => await CreateUserShips(6))">Buy 3 square ship</MudButton>
                </MudCardActions>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@(async () => await CreateUserShips(7))">Buy 2 square ship</MudButton>
                </MudCardActions>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@(async () => await CreateUserShips(8))">Buy 1 square ship</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="6">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Basic Submarine</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">30 Points per square</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Able to hide for 3 turns
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Limited to 2 uses per game
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Only 1 submarine allowed in a game
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@(async () => await CreateUserShips(9))">Buy 4 square ship</MudButton>
                </MudCardActions>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@(async () => await CreateUserShips(10))">Buy 3 square ship</MudButton>
                </MudCardActions>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@(async () => await CreateUserShips(11))">Buy 2 square ship</MudButton>
                </MudCardActions>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@(async () => await CreateUserShips(12))">Buy 1 square ship</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="6">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">AOE Submarine</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">55 Points per square</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Able to hide for 3 turns
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Limited to 2 uses per game
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Only 1 submarine allowed in a game
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@(async () => await CreateUserShips(13))">Buy 4 square ship</MudButton>
                </MudCardActions>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@(async () => await CreateUserShips(14))">Buy 3 square ship</MudButton>
                </MudCardActions>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@(async () => await CreateUserShips(15))">Buy 2 square ship</MudButton>
                </MudCardActions>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@(async () => await CreateUserShips(16))">Buy 1 square ship</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">AOE Basic</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">30 Points per square</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Upgrades the basic ships with an AOE missile
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Destroys the selected 2x2 tile area
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Limited to 1 use per game
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@(async () => await CreateUserShips(17))">Buy 4 square ship</MudButton>
                </MudCardActions>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@(async () => await CreateUserShips(18))">Buy 3 square ship</MudButton>
                </MudCardActions>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@(async () => await CreateUserShips(19))">Buy 2 square ship</MudButton>
                </MudCardActions>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@(async () => await CreateUserShips(20))">Buy 1 square ship</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>*@

@*OnClick="@(async () => await CreateUserShips())"
    @onclick="() => SetTimer(timer.Id)"
<MudTh><MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" Style="width:50%;" @onclick="@BuyShip" @bind-SelectedItem="selectedShip">Buy ship</MudButton></MudTh>
*@

<MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Welcome to the shop!</MudText>
<MudText Typo="Typo.h5" Align="Align.Center">Here you can spend your hard earned points to improve your gameplay experience.</MudText>
<br />
<MudTable Items="@ownedShips" Hover="true" Striped="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Owned ships</MudText>
        <MudSpacer />
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Ship Name</MudTh>
        <MudTh>Ship Length</MudTh>
        <MudTh>Special</MudTh>
        <MudTh>Special Bonus</MudTh>
        <MudTh>Missile Type</MudTh>
        <MudTh>Missile Cooldown</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTh>@context.Name</MudTh>
        <MudTh>@context.Length</MudTh>
        <MudTh>@context.GetSpecialtyName()</MudTh>
        <MudTh>@context.GetSpecialtyBonus()</MudTh>
        <MudTh>@context.Missile.MissileType</MudTh>
        <MudTh>@context.Missile.Cooldown</MudTh>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>

</MudTable>
<br/>
@*Filter="new Func<Ship,bool>(FilterFunc)"*@
<MudTable Items="@ships" Hover="true" @bind-SelectedItem="selectedShip" @onclick="@BuyShip">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Ships</MudText>
        <MudSpacer />
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Ship Name</MudTh>
        <MudTh>Ship Length</MudTh>
        <MudTh>Special</MudTh>
        <MudTh>Special Bonus</MudTh>
        <MudTh>Missile Type</MudTh>
        <MudTh>Missile Cooldown</MudTh>
        <MudTh>Price</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTh>@context.Name</MudTh>
        <MudTh>@context.Length</MudTh>
        <MudTh>@context.GetSpecialtyName()</MudTh>
        <MudTh>@context.GetSpecialtyBonus()</MudTh>
        <MudTh>@context.Missile.MissileType</MudTh>
        <MudTh>@context.Missile.Cooldown</MudTh>
        <MudTh>555</MudTh>
    </RowTemplate>

</MudTable>

@code {
    List<Ship> ownedShips { get; set; }
    List<Ship> ships { get; set; }
    Ship selectedShip { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Global.CurrentUser is null)
        {
            Navigation.NavigateTo("/login");
            return;
        }
        ownedShips = await shipService.GetShipsByUserAsync(Global.CurrentUser.Id);
        ships = await shipService.GetShipsAsync();

        await InvokeAsync(StateHasChanged);
        StateHasChanged();
    }

    protected async Task BuyShip()
    {
        CreateUserShipsCommand userShip = new CreateUserShipsCommand(Global.CurrentUser, selectedShip);
        await userShipsService.InsertUserShipsAsync(userShip);
        ownedShips.Add(selectedShip);

        await InvokeAsync(StateHasChanged);
    }

    //private bool FilterFunc(Ship element)
    //{
    //    if (ownedShips.Any(e => e.Id == element.Id))
    //        return true;
    //    return false;
    //}
}