@page "/userships"

@using BattleShipV3.Client.Services
@using BattleShipV3.Shared.Data.Commands.UserShips.Create
@using MudBlazor
@using Models
@using Data

@inject UserShipsService userShipsService

<PageTitle>Points shop</PageTitle>

<MudContainer>
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Shop</MudText>
    <MudText Typo="Typo.h5" Align="Align.Center">Here you can spend your hard earned points to improve your gameplay experience.</MudText>
    <MudText Class="pa-8 ma-8" Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Ships</MudText>
    <MudGrid Class="mt-8">
        <MudItem xs="12" sm="6" md="6">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Healer</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">100 Points</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Able to heal part/whole ship
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Limited to 2 uses per game
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Only 1 healer ship allowed in a game
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@(async () => await CreateUserShips())">Buy</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="6">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Submarine</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">200 Points</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Able to hide for 3 turns
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Limited to 2 uses per game
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Only 1 submarine allowed in a game
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;">Buy</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
    <MudText Class="pa-8 ma-8" Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Missiles</MudText>
    <MudGrid Class="justify-center mt-8">
        <MudItem xs="12" sm="12" md="6">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Bomb</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">150 Points</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Destroys the selected 2x2 tile area
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Limited to 1 use per game
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            TBD
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;">Buy</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>


@code {
    protected async Task CreateUserShips()
    {
        var newUser = new User()
            {
                Name = "Test",
                Email = "test@test",
                Password = "asd",
                CreationDate = DateTime.UtcNow,
                Elo = 0,
                Points = 0
            };

        var newMissile = new Data.Models.Missile()
            {
                Name = "TestMissile",
                Cooldown = 0,
                MissileType = 0
            };

        var newShip = new Data.Models.Ship()
            {
                Name = "TestShip",
                Length = 1,
                Missile = newMissile
            };

        CreateUserShipsCommand user = new CreateUserShipsCommand(newUser, newShip);
    }
}